asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
crypto==1.4.1
cryptography==48.0.0
Django==5.2.14
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
idna==3.16
Naked==0.1.32
openpyxl==3.1.5
pillow==12.2.0
psycopg2==2.9.12
pycparser==3.0
pycryptodomex==3.23.0
PyJWT==2.13.0
pyotp==2.9.0
python-decouple==3.8
PyYAML==6.0.3
requests==2.34.2
shellescape==3.8.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
